.card {
  display: grid;
  grid-template-rows: 320px 1fr;

  @media screen and (min-width: 650px) {
    grid-template-rows: 330px 1fr;
    gap: 2.4rem 0;
  }

  @media screen and (min-width: 900px) {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 0 4.2rem;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 350px;
  }

  .image {
    position: relative;
    
    @media screen and (min-width: 650px) {
      border-radius: 1.5rem;
      overflow: hidden;
    }

    @media screen and (min-width: 900px) {
      grid-column: 2 /3;
      grid-row: 1;
    }
  }

  .info {
    min-height: 39.4rem;
    font-style: normal;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: url('/Group6.svg') no-repeat, var(--color-very-light-peach);

    @media screen and (min-width: 650px) {
      border-radius: 1.5rem;
      overflow: hidden;
      text-align: left;
      align-items: flex-start;
      padding: 7.5rem;
      min-height: 32.6rem;
    }

    h2 {
      color: var(--color-peach);
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 3.6rem;

      @media screen and (min-width: 650px) {
        line-height: 4.8rem;
        font-size: 4rem;
      }
    }

    .specifics {
      margin-top: 2.4rem;

      @media screen and (min-width: 650px) {
        display: flex;
        align-items: flex-start;
      }

      span, h3 {
        font-weight: normal;
        line-height: 2.5rem;
        color: var(--dark-gray);
        display: block;
        font-size: 1.5rem;

        @media screen and (min-width: 650px) {
          line-height: 2.6rem;
          font-size: 1.6rem;
        }
      }

      h3 {
        font-weight: bold;
      }

      div + div {
        margin-top: 2.4rem;

        @media screen and (min-width: 650px) {
          margin-top: 0;
        }
      }
      
      @media screen and (min-width: 650px) {
        div {
          width: 255px;
        }
      }
    }
  }
}

.card + .card {
  margin-top: 4rem;

  @media screen and (min-width: 650px) {
    margin-top: 12rem;
  }

  @media screen and (min-width: 900px) {
    margin-top: 3.6rem;
  }
}

.card:nth-child(2) {
  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 2fr;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 350px 1fr;
  }

  @media screen and (min-width: 900px) {
    .image {
      grid-column: 1 /2;
      grid-row: 1;
    }
  }
}