.buttonPrimary {
  background: var(--color-white);
  border: none;
  border-radius: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background: transparent;
    border: 2px solid var(--color-white);
    color: var(--color-white);
  }

  &:focus {
    outline: 3px dashed var(--color-white);
  }
}

.buttonSecondary {
  background: var(--color-peach);
  border: none;
  display: block;
  border-radius: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background: transparent;
    border: 2px solid var(--color-peach);
    color: var(--color-peach);
  }

  &:focus {
    outline: 3px dashed var(--color-peach);
  }
}