.cardOutside {
  position: relative;
  z-index: 10;
  padding: 0 24px;

  &::after {
    content: '';
    height: 50%;
    background: var(--color-dark-gray);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .cardContent {
    height: 37.9rem;
    width: 100%;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 24px;
    overflow: hidden;
    position: relative;
    background: url('/assets/shared/desktop/bg-pattern-small-circle.svg') no-repeat -130px 300px, var(--color-peach);

    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
      height: 292px;
      width: 292px;
      border-radius: 50%;
      mix-blend-mode: normal;
      opacity: 0.31;
      right: -30px;
      bottom: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
      mix-blend-mode: normal;
      opacity: 0.31;
      height: 292px;
      width: 292px;
      border-radius: 50%;
      mix-blend-mode: normal;
      opacity: 0.31;
      right: -30px;
      top: 50%;
    }

    p {
      margin: 1.4rem 0 3.2rem;
    }

    a {
      background: var(--color-white);
      text-decoration: none;
      border-radius: 0.55em;
      padding: 1.15em 1.17em;
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-weight: 500;
      letter-spacing: 1px;
      color: var(--color-dark-gray);
      text-transform: uppercase;
    }
  }
}
