.cardOutside {
  position: relative;
  z-index: 10;
  padding: 0 24px;

  @media screen and (min-width: 600px) {
    padding: 0 calc((100vw - 1250px) / 2);
  }

  &::after {
    content: '';
    height: 50%;
    background: var(--color-dark-gray);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .cardContent {
    height: 37.9rem;
    width: 100%;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 24px;
    overflow: hidden;
    position: relative;
    background: url('/Group31.svg') no-repeat center right, var(--color-peach);
    background-size: cover;

    @media screen and (min-width: 600px) {
      width: calc(100% - 80px);
      margin: auto;
      height: 35rem;
    }

    p {
      margin: 1.4rem 0 3.2rem;
    }

    a {
      background: var(--color-white);
      text-decoration: none;
      border-radius: 0.55em;
      padding: 1.15em 1.17em;
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-weight: 500;
      letter-spacing: 1px;
      color: var(--color-dark-gray);
      text-transform: uppercase;
    }
  }
}
