.cardContainer {
  display: grid;
  grid-template-rows: 320px 1fr;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;

  & + & {
    margin-top: 4rem;
  }

  .illustration {
    position: relative;

    img {
      border-radius: 1.5em 1.5em 0 0;
    }
  }

  .content {
    border-radius: 0 0 1.5em 1.5em;
    background: var(--color-very-light-peach);
    padding: 3.2rem 3rem;
    text-align: center;

    h3 {
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.6rem;
      letter-spacing: 5px;
      color: var(--color-peach);
      margin-bottom: 1.6rem;
      text-transform: uppercase;
    }
  }
}
