.locationsRow {
  list-style: none;
  display: grid;
  padding: 0 calc((100vw - 1450px) / 2);

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(8, 1fr);
    gap: 5rem;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;

    &::before {
      position: absolute;
      top: 0;
      width: 202px;
      height: 202px;
      content: '';
      border-radius: 50%;
      opacity: 0.2;
      background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
    }

    &:nth-child(1)::before {
      transform: matrix(0, -1, -1, 0, 0, 0);
    }

    &:nth-child(2)::before {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &:nth-child(3)::before {
      transform: matrix(0, 1, 1, 0, 0, 0);
    }

    @media screen and (min-width: 650px) {
      &:nth-child(1) {
        grid-column: 2 /5;
      }

      &:nth-child(2) {
        grid-column: 5 /8;
      }

      &:nth-child(3) {
        grid-column: 2 /8;
      }
    }

    @media screen and (min-width: 1000px) {
      &:nth-child(1) {
        grid-column: 2 /4;
      }

      &:nth-child(2) {
        grid-column: 4 /6;
      }

      &:nth-child(3) {
        grid-column: 6 /8;
      }
    }

    h2 {
      letter-spacing: 5px;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.6rem;
      text-transform: uppercase;
      margin: 4.8rem 0 3.2rem;
    }

    a {
      width: 15.5rem;
      height: 5.6rem;
    }
  }

  .location + .location {
    margin-top: 4.8rem;

    @media screen and (min-width: 650px) {
      margin-top: 0;
    }
  }
}