.button-primary {
  border: none;
  border-radius: 0.65em;
  background: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-dark-gray);
  text-decoration: none;
}
