:root {
  --color-peach: hsl(11, 73%, 66%);
  --color-light-peach: hsl(11, 100%, 80%);
  --color-very-light-peach: hsl(14, 76%, 97%);
  --color-light-gray: hsl(210, 17%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-gray: hsl(264, 5%, 20%);
  --color-semi-black: hsl(264, 4%, 11%);
  --color-black: hsl(270, 3%, 11%);
}
