.title-primary {
  min-height: 0vw;
  font-weight: 500;
  font-size: 3.3rem;
  line-height: 1.15;

  @media screen and (min-width: 650px) {
    font-size: 4.8rem;
  }

  &-white {
    color: var(--color-white);
  }

  &-peach {
    color: var(--color-peach);
  }
}

.paragraph-primary {
  font-size: 1.5rem;
  line-height: 1.67;
  color: var(--color-white);
  font-weight: 400;

  @media screen and (min-width: 330px) {
    font-size: 1.6rem;
  }
}

.paragraph-secondary {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-dark-gray);
  font-weight: 400;
}
