.title-primary-white {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.15;
  color: var(--color-white);
}

.title-primary-peach {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.15;
  color: var(--color-peach);
}

.paragraph-primary {
  font-size: 1.5rem;
  line-height: 1.67;
  color: var(--color-white);
  font-weight: 400;
}

.paragraph-secondary {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-dark-gray);
  font-weight: 400;
}
