@import './colors';
@import './typography';
@import './buttons';
@import '../layout/containers';

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

body,
button,
input,
textarea {
  font-family: 'Jost', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
