.bannerContainer {
  width: 100%;
  min-height: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2.4rem;
  position: relative;
  z-index: 10;
  background: url('/assets/app-design/desktop/bg-pattern-intro-app.svg') no-repeat, var(--color-peach);
  background-position: right bottom;

  @media screen and (min-width: 650px) {
    background-position: right center;
    border-radius: 1.5em;
  }

  p {
    max-width: 45rem;
    margin: 2.4rem auto 0;
  }
}
