.card {
  text-align: center;

  @media screen and (min-width: 600px) {
    display: flex;
    align-items: center;
    text-align: left;
  }

  @media screen and (min-width: 900px) {
    flex-direction: column;
    text-align: center;
  }

  & + & {
    margin-top: 8rem;

    @media screen and (min-width: 600px) {
      margin-top: 3.2rem;
    }

    @media screen and (min-width: 900px) {
      margin-top: 0;
      margin-left: 3rem;
    }
  }

  &:nth-child(1) .illustration::before {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &:nth-child(2) .illustration::before {
    transform: matrix(0, 1, 1, 0, 0, 0);
  }

  &:nth-child(3) .illustration::before {
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .illustration {
    position: relative;

    &::before {
      content: '';
      background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
      mix-blend-mode: normal;
      opacity: 0.2;
      width: 202px;
      height: 202px;
      position: absolute;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .text {
    @media screen and (min-width: 600px) {
      margin-left: 4.8rem;
    }

    @media screen and (min-width: 900px) {
      margin-left: 0;
      margin-top: 4.8rem;
    }
    
    h3 {
      letter-spacing: 0.5rem;
      line-height: 2.5rem;  
      color: var(--color-dark-gray);
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 4.8rem 0 3.2rem;

      @media screen and (min-width: 600px) {
        margin: 0 0 1.6rem;
      }

      @media screen and (min-width: 900px) {
        margin-bottom: 3.2rem;
      }
    }
  
    p {
      font-size: 1.6rem;
      line-height: 2.6rem;
      color: var(--color-dark-gray);
      margin: auto;
      max-width: 35ch;

      @media screen and (min-width: 600px) {
        max-width: none;
      }

      @media screen and (min-width: 900px) {
        max-width: 36ch;
      }
    }
  }
}