.hero {
  text-align: center;
  padding-top: 8rem;
  min-height: 84.3rem;
  background: url('/Group64.png') no-repeat bottom, var(--color-peach);
  background-size: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;

  @media screen and (min-width: 600px) {
    margin: 0 40px;
    border-radius: 1.5rem;
    background-size: 390px;
  }

  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 9.5rem;
    text-align: left;
    min-height: 64rem;
    width: calc(100% - 80px);
    margin: 0 auto;
    max-width: 1200px;
    background: url('/Group5.png') no-repeat,  var(--color-peach);
    background-position: calc(100% - 103px) bottom;
  }

  &::before {
    position: absolute;
    content: url('/assets/home/desktop/bg-pattern-hero-home.svg');
    left: 0;
    z-index: -1;

    @media screen and (min-width: 600px) {
      left: unset;
      right: -130px;
    }

    @media screen and (min-width: 900px) {
      right: 0;
    }
  }

  h1 {
    max-width: 20ch;
    margin: auto;

    @media screen and (min-width: 900px) {
      margin: 0;
    }
  }
  
  p {
    max-width: 35ch;
    margin: 1.4rem auto 2.4rem;
    
    @media screen and (min-width: 900px) {
      margin: 2.5rem 0 4rem;
    }
  }
  
  a {
    width: 15.2rem;
    height: 5.6rem;
    display: block;
    width: 16rem;
    margin: auto;
    border: none;
    border-radius: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.2s ease;
  
    &:hover {
      background: transparent;
      border: 2px solid var(--color-white);
      color: var(--color-white);
    }
  
    &:focus {
      outline: 3px dashed var(--color-white);
    }

    @media screen and (min-width: 900px) {
      margin: 0;
    }
  }
}